Repository scouten/asciidoc-parser: changes, and which Codecov flags are due for each by the changed paths.
All: Parser test coverage, AsciiDoc spec coverage

codecov.yml:

coverage:
  status:
    project:
      default: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "docs/modules/*/nav*.adoc"
  - "docs/modules/*/examples/**"
  - "docs/modules/*/partials/**"
  - "sdd/**"

component_management:
  default_rules:
    statuses:
      - type: project
  
  individual_components:
    - component_id: parser
      name: Parser test coverage
      paths:
        - parser/**
    
    - component_id: spec
      name: AsciiDoc spec coverage
      paths:
        - docs/modules/**

Add `SourceMap` which will track the mapping between original source files and pre-processed parser inputs
  parser/src/parser/mod.rs
  parser/src/parser/parser.rs
  parser/src/parser/source_map.rs
  parser/src/tests/parser/mod.rs
  parser/src/tests/parser/source_map.rs
Due: Parser test coverage

chore: Enhance README with more information about why I'm doing this project
  README.md
Due: none

chore: Enhance README with more information about why I'm doing this project (#398)
  README.md
Due: none

chore(asciidoc-parser): release v0.9.0
  CHANGELOG.md
  parser/Cargo.toml
Due: Parser test coverage

chore(asciidoc-parser): release v0.9.0 (#395)
  CHANGELOG.md
  parser/Cargo.toml
Due: Parser test coverage

Adjust parameter names in SourceMap::append
  parser/src/parser/source_map.rs
Due: Parser test coverage

clarify that a nested list item is not an interrupting line for an attached paragraph
  docs/modules/lists/pages/continuation.adoc
Due: AsciiDoc spec coverage

Sketch in initial implementation of preprocessor
  parser/src/parser/mod.rs
  parser/src/parser/parser.rs
  parser/src/parser/preprocessor.rs
Due: Parser test coverage

Improve test coverage for SourceMap
  parser/src/parser/source_map.rs
  parser/src/tests/parser/source_map.rs
Due: Parser test coverage

fix quarter for recent docs changes
  docs/CHANGELOG.adoc
Due: none

document the requirement in Firefox to view an embedded YouTube video
  docs/CHANGELOG.adoc
  docs/modules/macros/pages/audio-and-video.adoc
Due: AsciiDoc spec coverage

add admonition to call out potential confusion between block title line and ordered list item
  docs/modules/blocks/pages/add-title.adoc
Due: AsciiDoc spec coverage

Remove FromIterator implementation for SourceMap; we won't need it
  parser/src/parser/source_map.rs
Due: Parser test coverage

clarify that auto-generated section IDs can be expected to be safe to use in HTML, but not necessarily XML
  docs/CHANGELOG.adoc
  docs/modules/sections/pages/auto-ids.adoc
Due: AsciiDoc spec coverage

Fill in a bit more of the preprocessor
  parser/src/parser/preprocessor.rs
Due: Parser test coverage

Test cases for include file handling
  parser/src/parser/include_file_handler.rs
  parser/src/parser/mod.rs
  parser/src/parser/parser.rs
  parser/src/tests/fixtures/inline_file_handler.rs
  parser/src/tests/fixtures/mod.rs
  parser/src/tests/parser/mod.rs
  parser/src/tests/parser/preprocessor.rs
Due: Parser test coverage

make it clear that preprocessor directives cannot see attributes defined inside a delimited block
  docs/modules/attributes/pages/attribute-entries.adoc
Due: AsciiDoc spec coverage

Remove duplicative encoding param from IncludeFileHandler trait
  parser/src/parser/include_file_handler.rs
  parser/src/tests/fixtures/inline_file_handler.rs
Due: Parser test coverage

Implement the basic case of include-file handling in preprocessor
  parser/src/parser/preprocessor.rs
  parser/src/tests/parser/preprocessor.rs
Due: Parser test coverage

Tweak whitespace
  parser/src/parser/parser.rs
Due: Parser test coverage

Move impl Default up front
  parser/src/parser/parser.rs
Due: Parser test coverage

Refactor preprocessor to use `Span`
  parser/src/parser/preprocessor.rs
Due: Parser test coverage

Implement attribute substitution in target path
  parser/src/parser/preprocessor.rs
  parser/src/tests/parser/preprocessor.rs
Due: Parser test coverage

add example of when to use per-line hardbreaks instead of the hardbreaks option
  docs/CHANGELOG.adoc
  docs/modules/blocks/pages/hard-line-breaks.adoc
Due: AsciiDoc spec coverage

Mark include file content via URIs as unsupported in this crate
  README.md
  parser/src/tests/asciidoc_lang/directives/include_uri.rs
  parser/src/tests/asciidoc_lang/directives/mod.rs
  parser/src/tests/asciidoc_lang/mod.rs
Due: Parser test coverage

Plumb SourceMap through to Document
  parser/src/document/document.rs
  parser/src/parser/mod.rs
  parser/src/parser/parser.rs
  parser/src/parser/source_map.rs
  parser/src/tests/document/document.rs
Due: Parser test coverage

SDD for include file multiple times page
  parser/src/tests/asciidoc_lang/directives/include_multiple_times_in_same_document.rs
  parser/src/tests/asciidoc_lang/directives/mod.rs
Due: Parser test coverage

add a list to make it clear where the shorthand notation for attributes is permitted
  docs/modules/attributes/pages/positional-and-named-attributes.adoc
Due: AsciiDoc spec coverage

Lingering Asciidoc spec
  docs/modules/sections/pages/auto-ids.adoc
Due: AsciiDoc spec coverage

Update from latest spec
  parser/src/tests/asciidoc_lang/attributes/attribute_entries.rs
  parser/src/tests/asciidoc_lang/attributes/positional_and_named_attributes.rs
  parser/src/tests/asciidoc_lang/blocks/add_title.rs
  parser/src/tests/asciidoc_lang/text/index.rs
Due: Parser test coverage

Revert "Lingering Asciidoc spec"
  docs/modules/sections/pages/auto-ids.adoc
Due: AsciiDoc spec coverage

chore: Update from Asciidoc spec (#400)
  parser/src/tests/asciidoc_lang/attributes/attribute_entries.rs
  parser/src/tests/asciidoc_lang/attributes/positional_and_named_attributes.rs
  parser/src/tests/asciidoc_lang/blocks/add_title.rs
  parser/src/tests/asciidoc_lang/text/index.rs
Due: Parser test coverage

Remove unused exception
  parser/src/parser/preprocessor.rs
Due: Parser test coverage

Remove unused bypass
  parser/src/parser/source_map.rs
Due: Parser test coverage

Remove unused bypass
  parser/src/tests/fixtures/inline_file_handler.rs
Due: Parser test coverage

Fix include handling for IFH
  parser/src/tests/asciidoc_lang/directives/include_multiple_times_in_same_document.rs
  parser/src/tests/fixtures/mod.rs
Due: Parser test coverage

feat: Implement basic `include::` directive handling with a preprocessor (#397)
  README.md
  parser/src/document/document.rs
  parser/src/parser/include_file_handler.rs
  parser/src/parser/mod.rs
  parser/src/parser/parser.rs
  parser/src/parser/preprocessor.rs
  parser/src/parser/source_map.rs
  parser/src/tests/asciidoc_lang/directives/include_multiple_times_in_same_document.rs
  parser/src/tests/asciidoc_lang/directives/include_uri.rs
  parser/src/tests/asciidoc_lang/directives/mod.rs
  parser/src/tests/asciidoc_lang/mod.rs
  parser/src/tests/document/document.rs
  parser/src/tests/fixtures/inline_file_handler.rs
  parser/src/tests/fixtures/mod.rs
  parser/src/tests/parser/mod.rs
  parser/src/tests/parser/preprocessor.rs
  parser/src/tests/parser/source_map.rs
Due: Parser test coverage

chore(asciidoc-parser): release v0.10.0
  CHANGELOG.md
  parser/Cargo.toml
Due: Parser test coverage

chore(asciidoc-parser): release v0.10.0 (#401)
  CHANGELOG.md
  parser/Cargo.toml
Due: Parser test coverage

chore: Refactor `SourceMap` to behave gracefully on ::default behavior
  parser/src/parser/preprocessor.rs
  parser/src/parser/source_map.rs
  parser/src/tests/document/document.rs
  parser/src/tests/parser/preprocessor.rs
  parser/src/tests/parser/source_map.rs
Due: Parser test coverage
