Repository scouten/asciidoc-parser: changes, and which Codecov flags are due for each by the changed paths.
All: Parser test coverage, AsciiDoc spec coverage

feat: Implement auto-generation of section IDs when appropriate
  parser/src/blocks/section.rs
  parser/src/tests/asciidoc_lang/attributes/positional_and_named_attributes.rs
  parser/src/tests/asciidoc_lang/directives/include_multiple_times_in_same_document.rs
  parser/src/tests/asciidoc_lang/document/compound_author_name.rs
  parser/src/tests/asciidoc_lang/document/reference_author_attributes.rs
  parser/src/tests/asciidoc_lang/document/reference_revision_attributes.rs
  parser/src/tests/asciidoc_lang/sections/titles_and_levels.rs
  parser/src/tests/blocks/block/mod.rs
  parser/src/tests/blocks/block/section.rs
  parser/src/tests/blocks/section.rs
  parser/src/tests/document/document.rs
  parser/src/tests/fixtures/blocks/section.rs
Due: Parser test coverage

Format
  parser/src/blocks/section.rs
Due: Parser test coverage

Format
  parser/src/tests/document/document.rs
Due: Parser test coverage

Fix broken tests
  parser/src/blocks/section.rs
  parser/src/tests/asciidoc_lang/directives/include_multiple_times_in_same_document.rs
  parser/src/tests/asciidoc_lang/sections/titles_and_levels.rs
Due: Parser test coverage

Allow unwrap on Regex
  parser/src/blocks/section.rs
Due: Parser test coverage

cargo fmt
  parser/src/blocks/section.rs
Due: Parser test coverage

Simplify generation of ID
  parser/src/blocks/section.rs
Due: Parser test coverage

Cover edge cases
  parser/src/tests/blocks/section.rs
Due: Parser test coverage

clarify that using explicit numbering to alter start value of ordered list was introduced in Asciidoctor 2.1.0
  docs/CHANGELOG.adoc
  docs/modules/lists/pages/ordered.adoc
Due: AsciiDoc spec coverage

document cxx attribute as preferred alternative to cpp
  docs/CHANGELOG.adoc
  docs/modules/attributes/pages/character-replacement-ref.adoc
Due: AsciiDoc spec coverage

Rough draft of coverage filtering out test infrastructure
  .github/scripts/filter_lcov.py
  .github/workflows/ci.yml
Due: none

Preflight using `Attrlist` test suite
  parser/src/attributes/attrlist.rs
  parser/src/tests/attributes/attrlist.rs
  parser/src/tests/attributes/mod.rs
Due: Parser test coverage

Update to better filter out mod tests in same file
  .github/scripts/filter_lcov.py
Due: none

Looks like Codecov uploader was picking up both filtered and unfiltered files
  .github/workflows/ci.yml
Due: none

Oh yeah. We need to allow unwrap in tests to make Clippy happy
  parser/src/attributes/attrlist.rs
Due: Parser test coverage

I can Clip
  parser/src/attributes/attrlist.rs
Due: Parser test coverage

Update script to look for nested crate roots
  .github/scripts/filter_lcov.py
Due: none

add missing monospace formatting when citing example characters
  docs/modules/subs/pages/prevent.adoc
Due: AsciiDoc spec coverage

Use standalone action script
  .github/scripts/filter_lcov.py
  .github/workflows/ci.yml
Due: none

Pick up bug fix
  .github/workflows/ci.yml
Due: none

Pick up newer version that deletes unfiltered LCOV file
  .github/workflows/ci.yml
Due: none

Use moving v1 tag
  .github/workflows/ci.yml
Due: none

Move `ElementAttribute` test suite
  parser/src/attributes/element_attribute.rs
  parser/src/tests/attributes/element_attribute.rs
  parser/src/tests/attributes/mod.rs
  parser/src/tests/mod.rs
Due: Parser test coverage

Move `enum Block` suite
  parser/src/blocks/mod.rs
  parser/src/blocks/tests/compound_delimited.rs
  parser/src/blocks/tests/media.rs
  parser/src/blocks/tests/mod.rs
  parser/src/blocks/tests/raw_delimited.rs
  parser/src/blocks/tests/section.rs
  parser/src/blocks/tests/simple.rs
  parser/src/tests/blocks/mod.rs
Due: Parser test coverage

Move `CompoundDelimitedBlock` test suite
  parser/src/blocks/compound_delimited.rs
  parser/src/tests/blocks/compound_delimited.rs
  parser/src/tests/blocks/mod.rs
Due: Parser test coverage

Move test suite for `enum ContentModel`
  parser/src/blocks/is_block.rs
  parser/src/tests/blocks/content_model.rs
  parser/src/tests/blocks/mod.rs
Due: Parser test coverage

Move test suite for `enum MediaType`
  parser/src/blocks/media.rs
  parser/src/tests/blocks/media_type.rs
  parser/src/tests/blocks/mod.rs
Due: Parser test coverage

Move test suite for `struct MediaBlock`
  parser/src/blocks/media.rs
  parser/src/tests/blocks/media.rs
  parser/src/tests/blocks/mod.rs
Due: Parser test coverage

Move test suite for `struct SectionBlock`
  parser/src/blocks/raw_delimited.rs
  parser/src/blocks/section.rs
  parser/src/tests/blocks/mod.rs
  parser/src/tests/blocks/raw_delimited.rs
  parser/src/tests/blocks/section.rs
Due: Parser test coverage

Move test suite for `struct SimpleBlock`
  parser/src/blocks/simple.rs
  parser/src/tests/blocks/mod.rs
  parser/src/tests/blocks/simple.rs
  parser/src/tests/mod.rs
Due: Parser test coverage

Fix Clippy settings for moved test suites
  parser/src/blocks/media.rs
  parser/src/blocks/raw_delimited.rs
  parser/src/blocks/section.rs
Due: Parser test coverage

Fix Clippy settings, take 2
  parser/src/blocks/media.rs
  parser/src/blocks/raw_delimited.rs
  parser/src/blocks/section.rs
  parser/src/blocks/simple.rs
Due: Parser test coverage

Unuse the "un"
  parser/src/blocks/raw_delimited.rs
Due: Parser test coverage

Move the test suite for `Content`
  parser/src/content/content.rs
  parser/src/tests/content/content.rs
  parser/src/tests/content/mod.rs
Due: Parser test coverage

Move the test suite for macro parsing
  parser/src/content/macros.rs
  parser/src/tests/content/macros.rs
  parser/src/tests/content/mod.rs
Due: Parser test coverage

Move the test suite for passthrough handling
  parser/src/content/passthroughs.rs
  parser/src/tests/content/mod.rs
  parser/src/tests/content/passthroughs.rs
Due: Parser test coverage

Move the test suite for `SubstitutionGroup`
  parser/src/content/substitution_group.rs
  parser/src/tests/content/mod.rs
  parser/src/tests/content/substitution_group.rs
Due: Parser test coverage

Move the test suite for `SubstitutionStep`
  parser/src/content/substitution_step.rs
  parser/src/tests/content/mod.rs
  parser/src/tests/content/substitution_step.rs
  parser/src/tests/mod.rs
Due: Parser test coverage

Move the test suite for `Attribute`
  parser/src/document/attribute.rs
  parser/src/tests/document/attribute.rs
  parser/src/tests/document/mod.rs
Due: Parser test coverage

Move test suite for `AuthorLine`
  parser/src/document/author_line.rs
  parser/src/tests/document/author_line.rs
  parser/src/tests/document/mod.rs
Due: Parser test coverage

Path conditions:
  Parser test coverage: any of: parser/**, but not: docs/modules/*/nav*.adoc, docs/modules/*/examples/**, docs/modules/*/partials/**, sdd/**
  AsciiDoc spec coverage: any of: docs/modules/**, but not: docs/modules/*/nav*.adoc, docs/modules/*/examples/**, docs/modules/*/partials/**, sdd/**
